/*******************************
            Global
*******************************/

/*-------------------
        Page
--------------------*/
#login {
	background: #000;
}

#login .page {
  padding: 15em 2em;
  min-width: 990px;
}