/*******************************
            Global
*******************************/

/*-------------------
        Page
--------------------*/
#teacher-login {
	background: #000;
}

#teacher-login .page {
  padding: 15em 2em;
  min-width: 990px;
}